.home {
    height: 100vh;
    width: 100%;
    background: url('../images/main-bg2.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    &__main {
        position: absolute;
        top: 38%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        text-align: center;
    }

    &__text {
        font-family: 'Oleo Script', cursive;
        font-size: $xxxl-size;
        line-height: $xxxl-size;
        animation: slideFromTop .3s;
        
        @media only screen and (max-width: $bp-small) {
            margin-top: 10rem;
        }

        &--welcome {
            color: #FFDD00;
            margin: 0 auto;
            text-shadow: 1px 1px 4px rgba(0, 0, 0, .9);
            text-shadow: 1px 1px 1px rgba(198, 171, 0, .9);
        }

        &--brand {
            color: $color-grey-light;
            font-size: $xxxl-size;
            text-shadow: 1px 1px 6px rgba(0, 0, 0, .9);
            text-shadow: 2px 2px 1px rgba(100, 100, 100, .9);
        }
    }

    &__buttons {
        margin-top: 5rem;
        animation: slideFromDown 1s;
    }
    
}

@keyframes slideFromTop{
    0%{
        opacity: 0;
        transform: translateY(-1.5rem);
    }
    90%{
        transform: translateY(-0.1rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slideFromDown{
    0%{
        opacity: 0;
        transform: translateY(1rem);
    }
    50%{
        opacity: 0;
        transform: translateY(1rem);
    }
    95%{
        transform: translateY(0.1rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

