// Colors
$color-primary: #FFDD00;
$color-primary-dark: #C6AB00;
$color-primary-light: #FFE493;

$color-grey-light: #eaeaea;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$xxl-size: 6.4rem;
$xxxl-size: 8.0rem;

// Responsive breakpoints
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-large2: 60.5em;   // 968px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;